<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Streaming Plot</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="stream_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="static_canvas_speed" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="static_canvas_tb" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="static_canvas_gear" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="static_canvas_steer" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="static_canvas_tyre_in" height="40"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

<!-- STREAM_CANVAS -->
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "Local dataset",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(50, 50, 50)',
                    borderColor: 'rgb(50, 50, 50)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Streaming Player Data'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        ticks:{
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Speed'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('stream_canvas').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/test_data");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 200) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.header.sessionTime);
            config.data.datasets[0].data.push(data.carTelemetryData[data.header.playerCarIndex].speed);
            lineChart.update();
        }
    });
</script>

<!-- STATIC_CANVAS -->
<!-- SPEED -->
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [
                        {% for packet in packets %}
                            {{ packet.header.sessionTime }},
                        {% endfor %}
                        ],
                datasets: [{
                    label: "Speed",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(50, 50, 50)',
                    borderColor: 'rgb(50, 50, 50)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].speed }},
                        {% endfor %}
                        ],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'MPH'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('static_canvas_speed').getContext('2d');
        const lineChart = new Chart(context, config);
    });
</script>
<!-- THROTTLE BRAKE -->
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [
                        {% for packet in packets %}
                            {{ packet.header.sessionTime }},
                        {% endfor %}
                        ],
                datasets: [{
                    label: "Throttle",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(99, 255, 132)',
                    borderColor: 'rgb(99, 255, 132)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].throttle }},
                        {% endfor %}
                        ],
                    fill: false,
                },
                {
                    label: "Brake",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].brake }},
                        {% endfor %}
                        ],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('static_canvas_tb').getContext('2d');
        const lineChart = new Chart(context, config);
    });
</script>
<!-- GEAR -->
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [
                        {% for packet in packets %}
                            {{ packet.header.sessionTime }},
                        {% endfor %}
                        ],
                datasets: [{
                    label: "Gear",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(50, 50, 50)',
                    borderColor: 'rgb(50, 50, 50)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].gear }},
                        {% endfor %}
                        ],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Gear'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('static_canvas_gear').getContext('2d');
        const lineChart = new Chart(context, config);
    });
</script>
<!-- STEER -->
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [
                        {% for packet in packets %}
                            {{ packet.header.sessionTime }},
                        {% endfor %}
                        ],
                datasets: [{
                    label: "Steering",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(50, 50, 50)',
                    borderColor: 'rgb(50, 50, 50)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].steer }},
                        {% endfor %}
                        ],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Steering Direction'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('static_canvas_steer').getContext('2d');
        const lineChart = new Chart(context, config);
    });
</script>
<!-- TYRES -->
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [
                        {% for packet in packets %}
                            {{ packet.header.sessionTime }},
                        {% endfor %}
                        ],
                datasets: [{
                    label: "FR - Inner",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(200, 200, 255)',
                    borderColor: 'rgb(200, 200, 255)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].tyresInnerTemperature[3] }},
                        {% endfor %}
                        ],
                    fill: false,
                },
                {
                    label: "FL - Inner",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(255, 200, 200)',
                    borderColor: 'rgb(255, 200, 200)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].tyresInnerTemperature[2] }},
                        {% endfor %}
                        ],
                    fill: false,
                },
                {
                    label: "RR - Inner",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(150, 150, 255)',
                    borderColor: 'rgb(150, 150, 255)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].tyresInnerTemperature[1] }},
                        {% endfor %}
                        ],
                    fill: false,
                },
                {
                    label: "RL - Inner",
                    pointStyle: "circle",
                    pointRadius: "1",
                    backgroundColor: 'rgb(255, 0, 0)',
                    borderColor: 'rgb(255, 0, 0)',
                    data: [
                        {% for packet in packets %}
                            {{ packet.carTelemetryData[packet.header.playerCarIndex|int].tyresInnerTemperature[0] }},
                        {% endfor %}
                        ],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: false
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: false
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Temp (C)'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('static_canvas_tyre_in').getContext('2d');
        const lineChart = new Chart(context, config);
    });
</script>

</body>
</html>